body {
	background-color: #f2f2f2;
}

.masthead h1 {
	font-size: 6em;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}

.shopping-list {
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}

.add-item {
	width: 95%;
	font-size: 2em;
	margin-bottom: 1.25em;
}

.add-item_input, .add-item_btn {
	border: 2px solid black;
	border-radius: 8px;
}

.add-item_input {
	background-color: #d9d9d9;
}

.add-item_btn {
	background-color: #bfbfbf;
}

.what-i-need, .what-i-got {
	min-height: 20rem;
}

.what-i-need-list, .what-i-got-list {
	font-size: 1.5em;
	width: 30rem;
	margin: auto;
	text-align: center;
	margin-top: 0.5em;
	list-style-type: none;
	padding: 0;
}

.what-i-got-list {
	color: #999999;
	text-decoration: line-through;
}

h2 {
	border-radius: 40px;
	font-size: 2em;
	background-color: #80b3ff;
	margin: auto;
	width: 30rem;
	border: 2px black solid;
}

li:hover {
	border: 1px dotted black;
	border-radius: 40px;
}

.left-check {
	float: left;
	padding-left: 20px;
	display: none;
}

.right-ex {
	float: right;
	padding-right: 20px;
	display: none;
}

.up-arrow {
	float: left;
	padding-left: 20px;
	display: none;
}

li:hover .left-check, li:hover .right-ex, li:hover .up-arrow {
	display: block;
}



/* * {
	outline: 1px red solid;
} */
